%tituloNosotros{
    color: #366fb1;
    margin-top: 1rem;
    font-size: 1.9rem;
} 
%parrafoNosotros{
    max-width: 50vw;
    font-size: 18px;
    font-weight: bold;
    border: #366fb1 3px groove;
    border-radius: 15px;
}
