%tituloNosotros {
    color: #366fb1;
    margin-top: 1rem;
    font-size: 1.7rem;
}

%parrafoNosotros {
    max-width: 50vw;
    font-size: 18px;

}

%parrafos {
    font-size: 1.25rem;
    font-weight: 200;
}

%imagenes {
    position: relative;
    left: 60rem;
    bottom: 3.5rem;
}