.newsletter {
    margin-top: 1rem;
    margin: 1rem;
    color: #366fb1;
}
.form-label{
    margin: 1rem
}

.form-text {
    margin: 1rem;
}
.form-check-input{
    margin: .3rem !important ;  
}
.btn2{
    background-color:  #366fb1;
    color: white;
    border-color: white;
    border-radius: 130px;
    margin: .5rem;
    padding: .5;
    }
    .btn2:hover {
        background-color: #dddadac9;
        color: #366fb1;
    }
    